alembic
attrs
blinker
click
flasgger
Flask
Flask-JWT-Extended
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
mistune
packaging
PyJWT
PyMySQL
PyYAML
referencing
rpds-py
six
SQLAlchemy
typing_extensions
Werkzeug
