{% extends "base_template.html" %}
{% block content %}
    <div class="container">
        <h2 class="mt-4">Accesorios</h2>
        <a href="{{ url_for('new_accesorio') }}" class="btn btn-primary mb-3">Añadir Accesorio</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Modelo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for accesorio in accesorios %}
                <tr>
                    <td>{{ accesorio.id }}</td>
                    <td>{{ accesorio.tipo }}</td>
                    <td>{{ accesorio.modelo.nombre }}</td>
                    <td>
                        <a href="{{ url_for('edit_accesorio', id=accesorio.id) }}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{{ url_for('delete_accesorio', id=accesorio.id) }}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

