{% extends "base_template.html" %}
{% block content %}
    <div class="container">
        <h2 class="mt-4">Categorías</h2>
        <a href="{{ url_for('new_categoria') }}" class="btn btn-primary mb-3">Añadir Categoría</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.id }}</td>
                    <td>{{ categoria.nombre }}</td>
                    <td>
                        <a href="{{ url_for('update_categoria', id=categoria.id) }}" class="btn btn-warning btn-sm">Editar</a>
                        <form action="{{ url_for('delete_categoria', id=categoria.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

