{% extends "base_template.html" %}
{% block content %}
    <h2>{{ legend }}</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.equipo_id.label(class="form-control-label") }}
            {{ form.equipo_id(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cantidad.label(class="form-control-label") }}
            {{ form.cantidad(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.ubicacion.label(class="form-control-label") }}
            {{ form.ubicacion(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
